{% extends 'base.html' %}


{% block title %}HomePage{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>HomePage</h3>
        </div>
        <div class="col-sm-4">
            <h3></h3>
        </div>
        <div class="col-sm-4">
            <p>
                {% if user.is_authenticated %}
            <div class="alert alert-info">
                <strong>Ola!</strong> {{ user.username}}.
            </div>
            Sair do Sistema<span class="badge badge-light"><i class="fas fa-sign-out-alt"></i>
            <a href="{% url 'logout' %}">Sair</a></span>
            {% else %}
            Entrar no Sistema <span class="badge badge-light"><i class="fas fa-sign-in-alt"></i>
            <a href="{% url 'login' %}">Entrar</a></span>
            {% endif %}
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="footer">
      <div class="container">
      </div>
    </footer>
{% endblock %}