{% extends 'base.html' %}

{% block title %} PageList {% endblock %}

{% block main %}


<div class="container-fluid">
    <nav class="navbar navbar-expand-sm bg-light">
        <p>Sair do Sistema<span class="badge badge-light"><i class="fas fa-sign-out-alt"></i>
            <a href="{% url 'logout' %}">Sair</a></span></p>
    </nav>
    <h3>Listagem de Dados</h3>
    <a  href="{% url 'products_new' %}" class="btn btn-outline-primary" style="float:right;">Inserir Novo</a>
    <div class="table-responsive-sm ">
        <div class="table-wrapper-scroll-y">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th class="th-sm">ID</th>
                    <th class="th-sm">Nome do Produto</th>
                    <th style="float: right;" class="th-sm">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name_product }}</td>
                    <td>
                        <div class="btn-group" style="float: right;">
                            <a href="{% url 'products_update' product.id %}" class="btn btn-outline-secondary btn-sm">
                                Editar</a>
                           <a href="{% url 'products_delete' product.id %}"
                               class="btn btn-outline-danger btn-sm">Deletar</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<footer class="footer">
      <div class="container">
        <center><span class="text-muted">Daniel de Almeida: Full Stack developer</span></center>
      </div>
    </footer>
{% endblock %}