{% extends 'base.html' %}

{% block title%}PageDelete{% endblock %}

{% block main %}
<h3 class="md">Você deseja deletar o ID {{product.id}} ?</h3>
<nav class="navbar navbar-expand-sm bg-light">
        <p>Sair do Sistema<span class="badge badge-light"><i class="fas fa-sign-out-alt"></i>
            <a href="{% url 'logout' %}">Sair</a></span></p>
    </nav>
<form action="{% url 'products_delete' product.id %}" method="post" enctype="multipart/form-data">
   {% csrf_token %}

    <ul>
        <li>{{ product.name_product }}</span></li>
    </ul>
    <div class="btn-group">
        <button type="submit" class="btn btn-outline-danger"></i> Deletar</button>
    <a href="{% url 'products_list' %}" class="btn btn-outline-warning">Cancel</a>
    </div>
</form>
{% endblock %}

{% block footer %}
<footer class="footer">
      <div class="container">

      </div>
    </footer>
{% endblock %}